* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f1f1f; /* Dark background */
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #40005d;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #510674;
}

input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
  margin-right: 0.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}